/*
slector: el elemento al que se le va a plicar estilos
Propiedad: lo que se va a cambiar
Valor: el nuevo valor que va a tener
Propiedad: valor -> se le denomina declaración
Regla: al conjunto de selector + declaracion (es)
*/


/* 
selectores simples 
    elementales
    de atributos

selectores cmpuestos
    agrupados
    combinadores
    pseudoclases
    pseudoelementos
*/

/* Selectores elementales:
        UNIVERSAL: con asterizco y llaves
*/
/* *{
    background-color: rgb(241, 238, 238);
}
h1{
    background-color: rgb(228, 244, 171);
}
p{
    background-color: rgb(146, 209, 248);
} */

#title{
    background-color: rgb(222, 137, 32);
}
.title{
    background-color: lightsalmon;
}

.text{
    background-color: lightgreen;
}

[href]{
    background-color: blue;
}

[href^="color"]{
    background-color: red;
}

[href*="color"]{
    background-color: brown;
}

/* 
.text{
    background-color: steelblue;
}
.text1{
    background-color: steelblue;
}
.text2{
    background-color: steelblue;
}
.text3{
    background-color: rgb(243, 245, 246);
}
.text4{
    background-color: steelblue;
} */
.text, .text2, .text3, .text4{
    background-color: rgb(249, 150, 19);
}

/* h2{
    background-color: teal;
} */
div .title-2{
    background-color: aquamarine;

}
.text4 + .title-2{
    background-color: tomato;
}
.text3 ~ p{
    background-color: rgb(246, 253, 253);
}




